<p id="notice"><%= notice %></p>

<div class="card mx-auto" style="width: 18rem;">
  <div class="card-header text-center">
    <h4 class="card-title">Title: <%= @project.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text">Description: <%= @project.description %></p>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
